{
    "parser": "typescript-eslint-parser",
    "plugins": [
        "typescript"
    ],
    "rules": {
        "typescript/rule-name": "error",
        "trailing-comma": [ false ],
        "no-trailing-spaces": true,
        "lines-between-class-members": ["always"],
        "exceptAfterSingleLine": true
    }
}

